<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Content type:</b>
  <%= @photo.content_type %>
</p>

<p>
  <b>Filename:</b>
  <%= @photo.filename %>
</p>

<p>
  <b></b>
  <%= image_tag("/photos/code_image/#{@photo.id}", :alt => "Unable to Display") %>
</p>


<%= link_to 'Photos to Review', photos_path %>
