<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Content type:</b>
  <%= @photo.content_type %>
</p>

<p>
  <b>Filename:</b>
  <%= @photo.filename %>
</p>

<p>
  <br />
  <%= image_tag("/photos/code_image/#{@photo.id}", :alt => "Unable to Display") %>
</p>

<p>
  <h2>*** Reviews ***</h2>
  <%= render @photo.reviews %>
</p>

<p>
  <h2>*** Add a Review ***</h2>
  <%= render "reviews/form" %>
</p>

<br />

<%= link_to 'Photos to Review', photos_path %>
